In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/albertyw/avenews/master/old/data/average-latitude-longitude-countries.csv")

In [4]:
df.head()

  ISO 3166 Country Code               Country  Latitude  Longitude
0                    AD               Andorra     42.50       1.50
1                    AE  United Arab Emirates     24.00      54.00
2                    AF           Afghanistan     33.00      65.00
3                    AG   Antigua and Barbuda     17.05     -61.80
4                    AI              Anguilla     18.25     -63.17

In [21]:
df = df.drop('ISO 3166 Country Code', axis = 1)

In [22]:
#df.set_index("Country", inplace=True)

In [24]:
b = df.loc["Aruba"]

In [25]:
print(type(b))

<class 'pandas.core.series.Series'>

In [29]:
b['Latitude']

12.5

In [28]:
for thing in b:
    print(type(thing))

<class 'numpy.float64'>
<class 'numpy.float64'>